.game-details {
    margin: 0 3rem;
    margin-bottom: 10rem;
}

.game-details h2 {
    padding: 2rem 0;
    color: var(--blue-color);
    font-size: 3.5rem;
}

.game-details h3 {
    padding: 1rem 0;
    margin-top: 2.5rem;
    color: purple;
    font-weight: normal;
}

.game-screenshot {
    width: 350px;
    padding: 1rem;
    transition: padding 0.3s ease-in;
}

.game-screenshot:hover {
    padding: 0.5rem;
}

