.header {
    margin: 5rem 3rem 1rem 3rem;
}

.header h1 {
    color: palevioletred;
    margin-bottom: 6rem;
    text-align: center;
    line-height: 4rem;
}

.header-return {
    text-decoration: none;
    font-size: 1.1rem;
    color: var(--blue-color);
}

.header-return:hover {
    color: palevioletred;
}